@import url('https://fonts.googleapis.com/css?family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}
footer{
	background-color: black;
	height: 216px;
	/*display: flex;
	align-items: center;*/
	position: relative;
	z-index: 999999;
}
#footer p{
	max-height: 248px;
	color: whitesmoke;
	bottom: -90px;
	padding: 10px;
}
#footer p a{
	max-height: 246px;
	color: whitesmoke;
	bottom: -90px;
	text-decoration: none;
}
.logo{
	position: absolute;
	top: 19px;
	color: whitesmoke;
	font-family: "Meow Script";
}
nav{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #3b0a8b!important;
	/*position: fixed;*/
	width: 100%;
}
nav ul{
	display: flex;
	justify-content: center;
}
nav li{
	margin: 20px 40px;
	font-size: 16pt;
	position: relative;
}
nav li a{
	text-decoration: none;
	color: #63C0FF;
	display: block;
	z-index: 2;
	position: relative;
	transition: color 0.3s linear;
}
nav li::before{
	content: "";
	display: block;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 0%;
	background-color: #3b0a8b;
	transition: height 0.3s linear;
	z-index: 1;
}
nav li::after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0%;
	height: 120%;
	border-top: 2px solid #b8810b;
	border-bottom: 2px solid #7c5204;
	transition: width 0.3s linear;
	z-index: 1;
}
nav li:hover::before{
	height: 100%;;
}
nav li:hover::after{
	width: 100%;
}
nav li:hover a{
	color: rgb(209, 163, 195);
}
main{
	position: relative;
	top: 60px;
}
.accordion_header{
	height: 80px;
	padding: 10px 25px;
	cursor: pointer;
	background-color: #7e0555;
	border-top: 1px solid #5a2e4f;
	border-bottom: 1px solid #4F3D5B;
	display: flex;
	align-items: center;
}
.accordion_header img{
	width: 72px;
	height: 72px;
	border-radius: 50%;
	border: 2px solid #DB6E5E;
}
.accordion_header h2{
	font-size: 30px;
	color: whitesmoke;
	padding-left: 20px;
}
.accordion_msg{
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
	transition: all .5s ease-in-out;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(188,44,192,1) 25%, rgba(231,34,213,1) 48%, rgba(253,29,150,1) 77%, rgba(252,176,69,1) 100%);
	/*background-image: url(images/marchingband1-3de35b60d066a986d4dba526b990f13ebb3a9bf8.jpg);
	background-size: cover;*/
	
}
.accordion_msg img{
	float: right;
	padding:20px;
	max-height: 500px;
}
.accordion_msg p{
	padding: 20px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 19px;
	font-style: bold;
}
.accordion ul li input:checked ~ div.accordion_msg{
	max-height: 850px;
	opacity: 1;
	transform: translate(0,0);
	
}
.accordion ul li input{
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 80px;
	opacity: 0;
}
.accordion ul li{
	position: relative;
}
.accordion ul li span{
	display: block;
	width: 9px;
	height: 9px;
	position: absolute;
	top: 30px;
	right: 30px;
}
.accordion ul li span::before, .accordion ul li span::after{
	content: '';
	display: block;
	width: 3px;
	height: 9px;
	background-color: whitesmoke;
	transition: all .5s;
}
.accordion ul li span::before{
	transform: rotate(45deg) translate(3px, 0);
	position: absolute;
}
.accordion ul li span::after{ 
	transform: rotate(-45deg) translate(-3px, 0);
	position: absolute;
}
.accordion ul li input:checked ~ span::before{
	transform: rotate(45deg) translate(-3px, 0);
}
.accordion ul li input:checked ~  span::after{
	transform: rotate(-45deg) translate(3px, 0);
}
@keyframes up {
	0%{
		left: 50%;
	}
	50%{
		left: 45%;
	}
	100%{
		left: 50%;
	}
}

#books{
	display: grid;
	grid-template-rows:auto auto auto auto auto;
	grid-template-columns: auto auto;
	grid-template-areas: "header header" "book1 quote1" "book2 quote2""book3 quote3" "venice quote4";
	justify-items: center;
	align-items: center;
	/*background-color: #7e0555;*/
	background-image: url(images/file.svg);
	background-size: cover;
	background-attachment: fixed;
}
.item_book1 p{
	background-color: rgba(207, 164, 191,0.4);
	padding: 25px;
	width: 375px;
	height: 550px;
	color: #fbfdbe;
	text-align: justify;
	opacity: 0;
	transition: opacity 1s linear,transform 1s ease-in-out;
	transform: rotateX(-180deg);
}
.item_book1 p:hover{
	opacity: 1;
	transform: rotateX(0deg);
}
.book_name{
	font-size: 30pt;
}
.about{
	border-top: 1px solid whitesmoke;
}
.item_book2 p{
	background-color: rgba(207, 164, 191,0.4);
	padding: 25px;
	width: 375px;
	height: 550px;
	color: #000000 ;
	text-align: center;
	opacity: 0;
	transition: opacity 1s linear,transform 1s ease-in-out;
	transform: rotateY(180deg);
}
.item_book2 p:hover{
	opacity: 1;
	transform: rotateY(0deg);
	border-color: whitesmoke;
	border:3px double whitesmoke;
}
.item_venice p{
	background-color: rgba(207, 164, 191,0.4);
	padding: 25px;
	width: 375px;
	color: #fbfdbe;
	height: 550px;
	text-align: center;
	opacity: 0;
	transition: opacity 1s linear,transform 1s ease-in-out;
	transform: scale(0.8,0.8) rotateZ(-45deg);
}
.item_venice p:hover{
	transform: scale(1,1) rotateZ(0);
	opacity: 1;
}
.item_book3 p{
	background-color: rgba(207, 164, 191,0.4);
	padding: 25px;
	width: 375px;
    height: 550px;
	color: #228B22 ;
	text-align: center;
	opacity: 0;
	transition: opacity 1s linear,transform 1s ease-in-out;
	transform: scale(2,0.5) translateY(-150px) rotateY(360deg);
}
.item_book3 p:hover{
	transform: rotateY(0deg);
	opacity: 1;
}

.header_item{
	padding: 15;
	grid-area: header;
}
.item_book1{
	margin-top: 15px;
	width: 375px;
	height: 550px;
	background-image: url(images/завантаження.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	grid-area: book1;
	border: 2px solid;
	border-color: black;
}
.item_book2{
	width: 375px;
	height: 550px;
	background-image: url(images/small_Танці_з_кістками_1024.png);
	grid-area: book2;
}
.item_quote1{
	padding: 15px;
	grid-area: quote1;
	width: 575px;
	font-size: 15px; 
}
.item_quote1:hover{
	transform: rotate3d(180deg, 90deg, 18deg);
	transition: border 1s ease-in-out, transform 1s linear, font-size 1s ease-in;
	border: double 5pt rgb(243, 130, 0);
	font-size: 19px;
} 
.item_quote2{
	width: 575px;
	padding: 15px;
	grid-area: quote2;
	font-size: 15px; 
}
.item_quote2:hover{
	transform: rotate3d(180deg, 90deg, 18deg);
	transition: border 1s ease-in-out, transform 1s linear, font-size 1s ease-in;
	border: double 5pt rgb(243, 227, 0);
	font-size: 19px;
} 
.item_quote3{
	padding: 15px;
	width: 575px;
	grid-area: quote3;
	font-size: 15px; 
}
.item_quote3:hover{
	transform: rotate3d(180deg, 90deg, 18deg);
	transition: border 1s ease-in-out, transform 1s linear, font-size 1s ease-in;
	border: double 5pt rgba(69, 235, 19, 0.589);
	font-size: 19px;
}

.item_quote4{
	padding: 15px;
	grid-area: quote4;
	width: 575px;
}
.item_venice{
	width: 375px;
	height: 550px;
	background-image: url(images/venice.jpg);
	grid-area: venice;
}
.item_book3{
	width: 375px;
	height: 550px;
	background-image: url(images/green_mile.webp);
	background-repeat: no-repeat;
	background-size: cover;
	grid-area: book3;
}


.all{
	background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(188,44,192,1) 25%, rgba(231,34,213,1) 48%, rgba(253,29,150,1) 77%, rgba(252,176,69,1) 100%);
}
h4{
	font-size: 16pt;
	padding: 5px;
}
.accordion_msg ul{
	padding: 20px;
}
.gradient_text{
	color: whitesmoke;
	background: linear-gradient(90deg,rgba(0, 64, 255, 1) 0%, rgba(61, 164, 242, 1) 45%, rgba(40, 179, 235, 1) 56%, rgb(17, 0, 255) 78%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.my_logo{
	display: flex;
	justify-items: end;
	align-items: end;
	color: whitesmoke;
	position: relative;
}
#footer ul li p{
	padding-left: 20pt;
}