@import url('https://fonts.googleapis.com/css?family=Neucha|Philosopher');

body{
	font-family: 'Philosopher', sans-serif;
	background-color: black;
}

*{
	margin:0;
	padding:0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}
.map{
	width: 1018px;
	height: 650px;
	background-image: url(images/map_background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	position: relative;
}
.left_cover{
	position: absolute;
	top: 0;
	left: -490px;
	width: 50%;
	text-align: right;
	animation: open_left 3s ease;
	background-color: black;
}
.right_cover{
	position: absolute;
	top: 0;
	right: -490px;
	width: 50%;
	animation: open_right 3s ease;
	background-color: black;
}

.pointer li{
	color: black;
	position:absolute;
	height: 100px;
	width: 100px;
	border-radius: 50% 50% 50% 0;
	background-color: rgba(137, 118, 80, 0.5);
	border: 2px solid black;
	transform: rotate(315deg);
}
.pointer li:hover{
	background-color: rgba(226,172,61,0.8);
}
.pointer li:hover a{
	color: #49402d;
}
.pointer p{
	transform: rotate(45deg);
	width: 100px;
	height: 70px;
	text-align: center;
	padding-top: 30px;
}
.pointer a{
	color: #ffffcd;
}
#link1{
	left: 550px;
	top:  70px
}
#link2{
 	top: 180px;
 	left: 120px;
}
#link3{
	top: 300px;
	left: 100px;
}
#link4{
	top: 250px;
	left: 450px;
}
#link5{
	bottom: 40px;
	left: 430px;
}
#link6{
	top: 20px;
	right: 50px;	
}
#link7{
	top: 120px;
	right: 150px;
}
#link8{
	top: 280px;
	right: 40px;	
}
#link9{
	bottom: 130px;
	right: 60px;
}
.about li{
	width: 550px;
	height: 550px;
	left: 50%;
	margin-bottom: -275px;
	margin-left: -275px;
	bottom: -550px;
	border-radius: 50%;
	background-color: rgba(250, 253, 102, 0.8);
	color: #49402d;
	font-size: 18pt;
	position: fixed;
	box-shadow: 4px 4px 10px 2px black;
	transform: scale(0.2);
	transition: transform 1s ease, opacity 1s ease;
}
.about a{
	float: right;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	background-color: black;
	color: #ffffcd;
	font-size: 18px;
	display:flex;
	align-items: center;
	justify-content: center;
}
.about p{
	font-family: ;
	padding: 100px;
	width: 350px;
	height: 350px;
	border-radius: 50%;
}
#link1_about:target{
	bottom: 65%;
	opacity: 1;
	transform: scale(1);
}
#link1_about p:hover{
	opacity: 0;
	transition: opacity 1s linear;
}
#link1_about:hover{
	opacity: 1;
	background-image: url(images/590.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: opacity 1s ease;
}
#link2_about:target{
	bottom: 65%;
	opacity: 1;
	transform: scale(1);
}

#link3_about:target{
	bottom: 65%;
	opacity: 1;
	transform: scale(1);
}
#link4_about:target{
	bottom: 65%;
	opacity: 1;
	transform: scale(1);
}
#link5_about:target{
	bottom: 65%;
	opacity: 1;
	transform: scale(1);
}
#link5_about p:hover{
	opacity: 0;
	transition: opacity 1s linear;
}
#link5_about:hover{
	opacity: 1;
	background-image: url(images/1474308320_1_14.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	transition: opacity 1s ease;
}
#link6_about:target{
	bottom: 65%;
	opacity: 1;
	transform: scale(1);
}
#link7_about:target{
	bottom: 65%;
	opacity: 1;
	transform: scale(1);
}
#link8_about:target{
	bottom: 65%;
	opacity: 1;
	transform: scale(1);
}
#link9_about:target{
	bottom: 65%;
	opacity: 1;
	transform: scale(1);
}
@keyframes open_left{
	0%, 50%{
		left: 0px;
	}
	100%{
		left: -490px;
	}
}
@keyframes open_right{
	0%, 50%{
		right: 0px;
	}
	100%{
		right: -490px;
	}
}